<footer class="container-fluid">
    <div id="foot1">
        <span id="footer-logo"><img src="/media/trixy.png" alt="Trixy" width="70" height="70"
                style="border-radius: 50%; margin: 10px;"><h1>TRIXY</h1></span>
        <span id="contact-us">CONTACT US</span>
        <span id="contacts">
            <a href="https://discord.gg/ZbUQ8Mh"><img src="/media/discord.png" alt="Discord" height="40px"></a>
            <a href="mailto://merilaxreloaded@gmail.com"><img src="/media/mail.png" alt="Email" height="40px"></a>
        </span>
    </div>
    <div id="foot2">
        <h5>Trixy</h5>
        <span><a href="https://discord.com/oauth2/authorize?client_id=583006737322475550&permissions=8&redirect_uri=https%3A%2F%2Fwww.google.com&response_type=code&scope=bot%20identify%20email%20guilds"
                target="_blank">Add to server</a></span>
        <span><a href="/commands">Commands</a></span>
        <span><a href="https://discord.gg/ZbUQ8Mh" target="_blank">Support</a></span>
    </div>
    <div id="foot3">
        <h5>Legal links</h5>
        <span><a href="/legal/privacy-policy">Privacy Policy</a></span>
        <span><a href="/legal/terms-and-conditions">Terms and Conditions</a></span>
        <span><a href="/legal/cookie-policy">Cookie Policy</a></span>
        <span><a href="/legal/disclaimers">Disclaimers</a></span>
    </div>
    <div id="foot4">
        <a href="/auth">Login</a>
    </div>
</footer>