<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <title>Trixy / Dashboard</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/media/favicon/tx32.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/dark.css" />
    <link rel="stylesheet" id="switch-css" href="" />
</head>

<body>
    <%- include('../partials/header') -%>

    <%- include('dashpartials/nav') -%>

    <div class="container select">
        <button onclick="selectThis('personal')">Personal configuration</button>
        <button onclick="selectThis('guild')">Guild configuration</button>
    </div>

    <main class="container-md conf" id="pconf">
        <div class="container level-card">
            <h2>Level card</h2>
            <span>Select a color to apply to your level card: (WIP)</span>
            <input type="color" id="personal-card" value="#6633BB" /> <!-- MAKE THIS DYNAMIC -->
            <button onclick="updateDB('personal-card')">Submit</button>
            <button onclick="updateDB('personal-card-reset')">Use Guild default</button>
        </div>
    </main>

    <main class="container-md conf" id="gconf">
        <ul>
            <li><button onclick="changeModule('system')">System</button></li>
            <li><button onclick="changeModule('leveling')">Leveling</button></li>
        </ul>
        <div id="gconf2">
            <div class="module" id="system">
                <div class="container-md prefix">
                    <h2>Prefix</h2>
                    <span>Set a custom prefix: </span>
                    <input type="text" id="prefix" id="prefix-input" maxlength="10">
                    <button onclick="updateDB('prefix-set')">Submit</button>
                    <button onclick="updateDB('prefix-reset')">Reset</button>
                </div>
            </div>

            <div class="module" id="leveling">
                <div class="container-md level-card">
                    <h2>Guild level card</h2>
                    <span>Select a color to apply to all Guild level cards: (WIP)</span>
                    <input type="color" id="guild-card" value="#6633BB" /> <!-- MAKE THIS DYNAMIC -->
                    <!-- <button onclick="updateDB('guild-card')">Submit</button>
                    <button onclick="updateDB('guild-card-reset')">Use Trixy default</button> -->
                </div>
                <!-- Add leveldelete option -->
            </div>
        </div>
    </main>

    <%- include('dashpartials/footer') -%>
</body>

</html>