<footer class="container-fluid">
    <div id="foot1">
        <span id="footer-logo"><img src="/media/trixy.png" alt="Trixy" width="70" height="70"
                style="border-radius: 50%; margin: 10px;">
            <h1>TRIXY</h1>
        </span>
        <span id="contact-us">CONTACT US</span>
        <span id="contacts">
            <a href="https://discord.gg/ZbUQ8Mh"><img src="/media/discord.png" alt="Discord" height="40px"></a>
            <a href="mailto://merilaxreloaded@gmail.com"><img src="/media/mail.png" alt="Email" height="40px"></a>
        </span>
    </div>
    <div id="foot2">
        <h5>Trixy</h5>
        <span><a href="https://discord.gg/ZbUQ8Mh" target="_blank">Support</a></span>
    </div>
    <div id="foot3">
        <h5>Legal links</h5>
        <span><a href="/legal/privacy-policy">Privacy Policy</a></span>
        <span><a href="/legal/terms-and-conditions">Terms and Conditions</a></span>
        <span><a href="/legal/cookie-policy">Cookie Policy</a></span>
        <span><a href="/legal/disclaimers">Disclaimers</a></span>
    </div>
    <div id="foot4">
        <a href="/auth/logout">Logout</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
<script src="/script.js"></script>
<script src="/scripts/dashboard.js"></script> 