<nav class="container-md">
    <div class="row nav-row">
        <div class="col-3" id="dashlogo">
            <a href="/auth/logout">
                <img src="https://cdn.discordapp.com/avatars/<%=discordId%>/<%=useravatar%>.png" alt="This is you!" title="Logout to main page" width="50" height="50" />
                <h2><%=username%></h2>
            </a>
        </div>

        <div class="col-2" id="navlink">
            <span><a href="https://discord.gg/ZbUQ8Mh" target="_blank">Support</a></span>
        </div>

        <div class="col-3" id="navlogin">
            <a href="/auth/logout">Logout</a>
        </div>
    </div>
</nav>