<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <title>Trixy V2</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/media/favicon/tx32.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/dark.css" />
    <link rel="stylesheet" id="switch-css" href="" />
</head>

<body>
    <%- include('partials/header') -%>

        <%- include('partials/nav') -%>

            <main class="container-md">
                <div>
                    <h1>A general purpose bot, for your general needs.</h1>
                </div>
                <div style="padding-top: 30px;">
                    <h3>Trixy will take care of most of your basic needs in the server, be it moderating, leveling up
                        members or just sending cat pictures.<br>
                        All with just a single command. Quick. Simple.</h3>
                </div>
            </main>

            <div class="line-breaker"><img src="/media/line-breaker1.png" alt="Decorative line breaker." /></div>

            <article class="container-sm">
                <div class="col">
                    <section class="col" id="left">
                        <div>
                            <h4>Basic moderation and member management</h4>
                            <p>Add roles, mute annoying people, ban missbehaving members or just purge some messages in
                                the channel.</p>
                        </div>
                        <span>
                            <img src="media/cmd-proof/mute-cmd.png" alt="Muting a member." />
                        </span>
                    </section>

                    <section class="col" id="right">
                        <div>
                            <h4>Random images and facts</h4>
                            <p>A collection of commands that serve content. A random cat image? NASA's daily space
                                photo? All yours.</p>
                        </div>
                        <span>
                            <img src="media/cmd-proof/cat-cmd.png" alt="Asking for a cat image." />
                        </span>
                    </section>

                    <section class="col" id="left">
                        <div>
                            <h4>Utility commands</h4>
                            <p>Get information about users or guilds, set a reminder or look up the weather somewhere.
                            </p>
                        </div>
                        <span>
                            <img src="media/cmd-proof/weather-cmd.png" alt="Looking up the weather." />
                        </span>
                    </section>

                    <section class="col" id="right">
                        <div>
                            <h4>Level system</h4>
                            <p>Gain experience and climb the leaderboard for additional rewards.</p>
                        </div>
                        <span>
                            <img src="media/cmd-proof/level-cmd.png" alt="Checking level progression." />
                        </span>
                    </section>
                </div>
            </article>

            <div class="container-fluid line-breaker"><img src="/media/line-breaker2.png"
                    alt="Decorative line breaker." /></div>

            <section>
                <div class="container">
                    <h4>Dashboard (To Be Added)</h4>
                    <p>A description will go here eventually.</p>
                </div>
                <span>
                    <img src="media/placeholder-dark.jpg" alt="Screenshot of the Dashboard. TBA!" />
                </span>
            </section>

            <%- include('partials/footer') -%>
</body>

</html>