<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <title>Trixy / Disclaimers</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/media/favicon/tx32.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link rel="stylesheet" href="/dark.css" />
    <link rel="stylesheet" id="switch-css" href="" />
</head>

<body>
    <header id="top">
        <button id="btn-theme" onclick="swapTheme();"><img src="/media/bulblight.svg" alt="Toggle theme" width="30"
                height="30" /></button>
    </header>

    <nav class="container-md">
        <div class="row nav-row">
            <div class="col-1" id="navlogo">
                <a href="/">
                    <img src="/media/trixy.png" alt="Trixy" title="Back to main page" width="50" height="50" />
                </a>
            </div>

            <div class="col-8" id="navlink">
                <span><a href="https://discord.com/oauth2/authorize?client_id=583006737322475550&permissions=8&redirect_uri=https%3A%2F%2Fwww.google.com&response_type=code&scope=bot%20identify%20email%20guilds"
                        target="_blank">Add to Discord</a></span>
                <span><a href="/commands">Commands</a></span>
                <span><a href="https://discord.gg/ZbUQ8Mh" target="_blank">Support</a></span>
            </div>

            <div class="col-1" id="navlogin">
                <a href="/auth">Login</a>
            </div>
        </div>
    </nav>

    <main class="container-fluid" style="margin: 100px 0; padding: 0 50px">
        <h1>Disclaimer</h1>
        <p>Last updated: September 18, 2021</p>
        <h1>Interpretation and Definitions</h1>
        <h2>Interpretation</h2>
        <p>The words of which the initial letter is capitalized have meanings defined under the following conditions.
            The following definitions shall have the same meaning regardless of whether they appear in singular or in
            plural.</p>
        <h2>Definitions</h2>
        <p>For the purposes of this Disclaimer:</p>
        <ul>
            <li><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot;
                or &quot;Our&quot; in this Disclaimer) refers to Trixy.</li>
            <li><strong>Service</strong> refers to the Website.</li>
            <li><strong>You</strong> means the individual accessing the Service, or the company, or other legal entity
                on behalf of which such individual is accessing or using the Service, as applicable.</li>
            <li><strong>Website</strong> refers to Trixy, accessible from <a
                    href="https://merilax.github.io/trixy-front" rel="external nofollow noopener"
                    target="_blank">https://merilax.github.io/trixy-front</a></li>
        </ul>
        <h1>Disclaimer</h1>
        <p>The information contained on the Service is for general information purposes only.</p>
        <p>The Company assumes no responsibility for errors or omissions in the contents of the Service.</p>
        <p>In no event shall the Company be liable for any special, direct, indirect, consequential, or incidental
            damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out
            of or in connection with the use of the Service or the contents of the Service. The Company reserves the
            right to make additions, deletions, or modifications to the contents on the Service at any time without
            prior notice. This Disclaimer has been created with the help of the <a
                href="https://www.privacypolicies.com/disclaimer-generator/" target="_blank">Disclaimer Generator</a>.
        </p>
        <p>The Company does not warrant that the Service is free of viruses or other harmful components.</p>
        <h1>External Links Disclaimer</h1>
        <p>The Service may contain links to external websites that are not provided or maintained by or in any way
            affiliated with the Company.</p>
        <p>Please note that the Company does not guarantee the accuracy, relevance, timeliness, or completeness of any
            information on these external websites.</p>
        <h1>Errors and Omissions Disclaimer</h1>
        <p>The information given by the Service is for general guidance on matters of interest only. Even if the Company
            takes every precaution to insure that the content of the Service is both current and accurate, errors can
            occur. Plus, given the changing nature of laws, rules and regulations, there may be delays, omissions or
            inaccuracies in the information contained on the Service.</p>
        <p>The Company is not responsible for any errors or omissions, or for the results obtained from the use of this
            information.</p>
        <h1>Fair Use Disclaimer</h1>
        <p>The Company may use copyrighted material which has not always been specifically authorized by the copyright
            owner. The Company is making such material available for criticism, comment, news reporting, teaching,
            scholarship, or research.</p>
        <p>The Company believes this constitutes a &quot;fair use&quot; of any such copyrighted material as provided for
            in section 107 of the United States Copyright law.</p>
        <p>If You wish to use copyrighted material from the Service for your own purposes that go beyond fair use, You
            must obtain permission from the copyright owner.</p>
        <h1>Views Expressed Disclaimer</h1>
        <p>The Service may contain views and opinions which are those of the authors and do not necessarily reflect the
            official policy or position of any other author, agency, organization, employer or company, including the
            Company.</p>
        <p>Comments published by users are their sole responsibility and the users will take full responsibility,
            liability and blame for any libel or litigation that results from something written in or as a direct result
            of something written in a comment. The Company is not liable for any comment published by users and reserve
            the right to delete any comment for any reason whatsoever.</p>
        <h1>No Responsibility Disclaimer</h1>
        <p>The information on the Service is provided with the understanding that the Company is not herein engaged in
            rendering legal, accounting, tax, or other professional advice and services. As such, it should not be used
            as a substitute for consultation with professional accounting, tax, legal or other competent advisers.</p>
        <p>In no event shall the Company or its suppliers be liable for any special, incidental, indirect, or
            consequential damages whatsoever arising out of or in connection with your access or use or inability to
            access or use the Service.</p>
        <h1>&quot;Use at Your Own Risk&quot; Disclaimer</h1>
        <p>All information in the Service is provided &quot;as is&quot;, with no guarantee of completeness, accuracy,
            timeliness or of the results obtained from the use of this information, and without warranty of any kind,
            express or implied, including, but not limited to warranties of performance, merchantability and fitness for
            a particular purpose.</p>
        <p>The Company will not be liable to You or anyone else for any decision made or action taken in reliance on the
            information given by the Service or for any consequential, special or similar damages, even if advised of
            the possibility of such damages.</p>
        <h1>Contact Us</h1>
        <p>If you have any questions about these Terms and Conditions, You can contact us with the following email:</p>
        <ul>
            <li>merilaxreloaded@gmail.com</li>
        </ul>
    </main>

    <footer class="container-fluid">
        <div id="foot1">
            <span id="footer-logo"><img src="/media/trixy.png" alt="Trixy" width="70" height="70"
                    style="border-radius: 50%; margin: 10px;"><h1>TRIXY</h1></span>
            <span id="contact-us">CONTACT US</span>
            <span id="contacts">
                <a href="https://discord.gg/ZbUQ8Mh"><img src="/media/discord.png" alt="Discord" height="40px"></a>
                <a href="mailto://merilaxreloaded@gmail.com"><img src="/media/mail.png" alt="Email" height="40px"></a>
            </span>
        </div>
        <div id="foot2">
            <h5>Trixy</h5>
            <span><a href="https://discord.com/oauth2/authorize?client_id=583006737322475550&permissions=8&redirect_uri=https%3A%2F%2Fwww.google.com&response_type=code&scope=bot%20identify%20email%20guilds"
                    target="_blank">Add to server</a></span>
            <span><a href="/commands">Commands</a></span>
            <span><a href="https://discord.gg/ZbUQ8Mh" target="_blank">Support</a></span>
        </div>
        <div id="foot3">
            <h5>Legal links</h5>
            <span><a href="/legal/privacy-policy">Privacy Policy</a></span>
            <span><a href="/legal/terms-and-conditions">Terms and Conditions</a></span>
            <span><a href="/legal/cookie-policy">Cookie Policy</a></span>
            <span><a href="#top">Disclaimers</a></span>
        </div>
        <div id="foot4">
            <a href="/auth">Login</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="/script.js">document.onload(setFolder("sites/legal/"));</script>
</body>

</html>