<nav class="container-md">
    <div class="row nav-row">
        <div class="col-1" id="navlogo">
            <a href="/">
                <img src="/media/trixy.png" alt="Trixy" title="Back to main page" width="50" height="50" />
            </a>
        </div>

        <div class="col-8" id="navlink">
            <span><a href="https://discord.com/api/oauth2/authorize?client_id=583006737322475550&permissions=8&redirect_uri=http%3A%2F%2Ftrixy-v3.herokuapp.com%2Fauth%2Fredirect&response_type=code&scope=guilds%20email%20identify%20bot%20applications.commands%20messages.read%20applications.entitlements%20guilds.join%20guilds.members.read"
                    target="_blank">Add to server</a></span>
            <span><a href="/commands">Commands</a></span>
            <span><a href="https://discord.gg/ZbUQ8Mh" target="_blank">Support</a></span>
        </div>

        <div class="col-1" id="navlogin">
            <a href="/auth">Login</a>
        </div>
    </div>
</nav>